.head{
  width: 100%;
  z-index: 200;
  position: sticky;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #d4d4d8 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(212 212 216 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  backdrop-filter: blur(40px);
  // height: 100%;

  &_rem{
    width: 100%;
    background: $dark-red-color;
    height: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
    letter-spacing: 0.01em;
    font-family: Brown(woff), sans-serif;
    @media (max-width: 500px) {
      font-size: 9px;
    }
  }

  &_rem2{
    width: 100%;
    background: #fff;
    height: 100%;
    color: #000;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 0.01em;
    font-family: Brown(woff), sans-serif;
    @media (max-width: 500px) {
      font-size: 9px;
    }
  }
  

&_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
border-bottom: 1px solid rgba(68, 22, 23, 0.2);
}

.nav {
  // max-width: 95%;
  // margin: 0 auto;
  position: relative;
  &_list {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    color: $dark-red-color;
    li {
      cursor: pointer;
      // &:hover {
      //   color: $orange-red;
      // }
      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 5px;
        transition: background 0.3s ease-in;
      }
      &.active div {
        background: $orange-red; // Using the variable
      }
      &:hover {
        div {
          background: $orange-red;
          box-shadow: $shadow-1;
        }
      }
    }
  }
  &_mobile {
    display: none;
  }

  @media (max-width: 850px) {
    &_list {
      display: none;
    }
    &_mobile {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark-red-color;

      svg {
        width: 70%;
        height: 70%;
        color: #fff;
      }

      .toggle {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 15;

        padding: 1rem;

        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background: url("../../public/bgWhite.png");
        background-color: #fff;
        background-size: cover;
        background-repeat: repeat;

        /* top box shadow */
        box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
        animation-name: slide-in;
        animation-duration: 0.85s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;

        @keyframes slide-in {
          0% {
            transform: translateX(300px);
          }
          100% {
            transform: translateX(0);
          }
        }

        svg {
          width: 35px;
          height: 35px;
          color: $dark-red-color;
          margin: 0.5rem 1rem;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;

          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          li {
            margin: 1rem;

            // a {
            color: $dark-red-color;
            text-decoration: none;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $orange-red;
            }
            // }
          }

          @media screen and (min-width: 900px) {
            display: none;
          }
        }
      }
    }
  }

  .menu {
    z-index: 11;
    width: fit-content;
    // min-height: 100%;
    box-shadow: $shadow-1;
    position: absolute;
    margin-top: 0.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    h4 {
      text-align: center;
    }
    .flex {
      display: flex;
      gap: 10px;
      width: 100%;
      padding: 0 1rem;
    }
    ul {
      li {
        // height: 30px;
        a {
          width: 100%;
          padding-left: 1rem;
          color: $dark-red-color;
          font-weight: 400;
          font-size: 0.8rem;
          &:hover {
            color: $orange-red;
          }
        }
      }
    }
  }
}
}

.countryName{
  @media (max-width: 500px) {
    display: none;
  }
}

.navtype{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .navtype::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
  }
  @media (max-width: 600px) {
    justify-content: flex-start;
  }

  li{
    letter-spacing: 0.01em;
    font-family: Brown(woff), sans-serif;
    padding: 2px 5px;
font-size: 13px;
font-weight: 400px;
width: fit-content;
white-space: nowrap;
color: $darkless-red-color;
border-radius: 5px;
&:hover{
  // background: $darkless-red-color;
  color: $light-orange-color;
  transition: ease-in-out .3s;
  transform: scaleX(0, 100%);
}
  }
}
