.right {
  border: 1.5px solid #eddede;
  border-radius: 20px;
  padding: 5px 10px;
  p {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 12px;
  }
  &_details {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    div {
      width: 100%;
      img {
        height: 60px;
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      button {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $dark-red-color;
        border: 1px solid $dark-red-color;
        padding: 6px 18px;
        border-radius: 20px;
        width: fit-content;
        svg {
          width: 20px;
          height: 20px;
          color: $dark-red-color;
        }
      }
    }
  }
}
