$dark-red-color: #441617;
$darkless-red-color: #5a141d;
$light-pink-color: #e6bac8;
$dark-pink-color: #ca4987;
$dark-purple-color: #704271;
$grey-color: #f8f8f8;
$light-error-color: #fd010169;
$error-color: #ed4337;
$light-orange-color: #e39a9a;
$orange-red: #c9454b;
$sharp-red: #b1262e;
$brownish-red: #9f5d60;
$brownish-orange: #da7061;
$success-color: #6cc070;
$rating-color: #b48e19;
$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;
$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
